
section
{
    margin-top: 50px;
}

article{
Background: #FFF;
text-align: center;
padding-top: 20px;
}


article p{
    Color: #000000;
    font-size: 30px;
}
small {
	 Color: #000000;
	 font-size: 17px;
}
h4
{
	 font-size: 20px;
	 Color: #000000;
}
.colum button{
    Cursor: pointer;
    Color: #FFF;
    Background: #e81410;
    font-size: 20px;
    padding: 20px;
    margin-top: 10px;
    border: none;

}
article button:hover {
    background-color: 
#fcf803;

}
div .column {
  float: left;
  width:  250px;
}
article a img{
	width: 150px;
	height: 150px;
	border-radius: 10px;
}
a {
  list-style: none;
}


#footer {
  width: auto;
  background:rgb(0,0,0,0.79);
  height: auto;
  margin-top: 100px;
  padding-top:57px;
  padding-right: 100px;
  margin-left: -100px;
  display: flex;
  justify-content: space-around;
  background-color:rgb(255, 186, 0);
}

/*#footer {
  background:rgb(0,0,0,0.79);
  height: auto;
  width: auto;
  margin-left: -100px;
  margin-top: 338px;
  padding-top:57px;
  display: flex;
  justify-content: space-around;
  background-color:rgb(255, 186, 0); 
  font-size: 25px;
}*/



#footer .box1 {
  width: 250px;
  color:black;
}

#footer .box1 .quick-menu {
  margin-top:40px;

}


#footer .box .quick-menu .item{
  margin-bottom:12px;
  color: black;
  font-size: 20px;

}
#footer .box1 .quick-menu ,.item a{
  color:black;
  text-decoration: none;
}


#footer .box1 form input {
  width: 250px;
  height: 50px;
  background:transparent;
  padding-left:20px;
  color:black;
  margin-top:30px;
  font-size: 20px;
}

#footer .box1 form button {
  background:#362f2f;
  box-shadow: 5px 5px 4px rgba(0,0,0.25);
  background-color:rgb(255, 186, 0) ;
  margin-top:29px;
  color:black;
  font-size: 20px;
}

